nav {
    display: flex;               /* make children flex items */
    justify-content: center;     /* horizontal centering */
    align-items: center;         /* vertical centering */
    height: 60px;                /* nav bar height */
    background-color: #6898b8;
    gap: 10px; 
}

.btn-nav {
    display: inline-block;
    background-color: red;
    padding: 10px 25px;
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #808f9e;
}

header {
  min-height: 60px;
  background: #6898b8;
}

#footer {
    display: grid;
    grid-template-columns: 1fr auto; /* left text + button on right */
    align-items: center;              /* vertical centering of all items */
    min-height: 50px;
    background-color: #6898b8;
    padding: 0 20px;
    gap: 10px; 
}
footer-left {
    color: white;
    justify-self: start;
    align-self: center;
    margin: 0;
    line-height: normal;
}

.footer-btn {
    padding: 5px 10px;
    display: flex;          
    align-items: center;    /* center text vertically inside button */
    justify-content: center; /* center text horizontally inside button */
    justify-self: end;       /* align button to right */
    border: none;
    border-radius: 5px;
    background-color: #6789ad;
    color: white;
    cursor: pointer;
}
.footer-btn:hover {
    background-color: #0056b3;
}
main {
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering inside main */
    flex-direction: column;  /* stack h1, p vertically */
    padding: 20px;
    text-align: center;      /* optional: center text itself */
    
}